html {
    background-color: bisque;
}
table {
    border: 10px black;
    box-sizing: 15px;
    width: 70%;
}
tr {
    background: rgb(245, 234, 234);
    border: 10px black;
    padding: 10px;
}